/* hero.scss */ 

.hero-section {
  position: relative;

  .fullwidth-banner {
    min-height: 100%;
    min-width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    @include tablet {
      aspect-ratio: 3 / 2;
    }
  
    @include desktop {
      aspect-ratio: 2 / 1;
      
    }
    @include widescreen {
      aspect-ratio: 2.5 / 1; 
    }
  }
}


.banner-gradient {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(15, 15, 15, 70%);
  z-index: 2;
  
}

// center text vertically
.top-banner__textcontainer {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.top-banner__textcontainer--inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & > * {
    max-inline-size: 40ch;
  }
}

.top-banner__headline {
  max-width: 320px;
  line-height: 1.1;

  @include tablet {
    max-width: 400px;
  }

  @include widescreen {
    max-width: 520px;
  }
}

.top-banner__headline {
  max-width: 300px;
  @include tablet {
    max-width: 380px;
  }
  @include widescreen {
    max-width: 500px;
  }
}