/* block 50-50, both contained and full-bleed */ 

.fifty-fifty-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  @include tablet {
    flex-wrap: nowrap;
    gap: 2rem;
  }

  &.center-content {
    align-items: center;
  }
  
  &.bh-carousel-slide {
    align-items: center;
  }

  &.layout-image-right {
    @include tablet {
      flex-direction: row-reverse;
    }
  }

  .fifty-fifty-row-column {
    flex: 0 1 100%;
    @include tablet {
      flex: 0 1 50%;
    }
    figure,
    .single-dining__feautured-image {
      display: block;
      @include tablet {
        height: 100%;
      } 
    }

    img {
      display: block; 
      @include tablet {
        position: sticky;
        top: 160px;
      }
    }
  }

  &.two-thirds {
    .fifty-fifty-row-column.fifty-fifty-row-column__text-column {
      @include tablet {
        flex: 0 1 66%;
      }
    }
    .fifty-fifty-row-column.fifty-fifty-row-column__image-column {
      @include tablet {
        flex: 0 1 33%;
      }
    }
  }
}

/* 50-50 full-width */ 

.fifty-fifty-row--full-bleed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  @include tablet {
    flex-wrap: nowrap;
  }

  &.layout-image-right {
    @include tablet {
      flex-direction: row-reverse;
    }
    .fifty-fifty-row-column.text-column {
      @include widescreen {
        padding-right: 2rem;
        padding-left: calc((100vw - 1152px) / 2);
      }
    }
  }

  .fifty-fifty-row-column {
    flex: 0 1 100%;
    @include tablet {
      flex: 0 1 50%;
    }
    &.image-column {
      
      @include tablet {
        min-width: 50%;
        align-self: stretch;
      }
      @include mobile {
        min-width: 100%;
        min-height: 400px;
        aspect-ratio: 1 / 1;
      }
    }

    &.text-column {
      padding-left: 2rem;
      padding-right: 2rem;
      @include widescreen {
        padding-right: calc((100vw - 1152px) / 2);
        padding-left: 2rem;
      }
      
    }
  }
}